@import 'bootstrap/scss/bootstrap.scss';
@import 'react-vis/dist/main.scss';

.Header .navbar-brand img {
  display: inline-block;
  margin-right: 3px;
  margin-top: 6px;
  vertical-align: top;
}

#logging-in {
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#login {
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  form {
    padding: $spacer;
    max-width: 500px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.toolbar {
  display: flex;
  align-items: center;
  padding: 0.75 * $spacer $spacer;
  border-bottom: 1px solid $table-border-color;
}

.loading {
  display: flex;
  padding: $spacer;
  flex-direction: column;
  align-items: center;
}

.member-table {
  display: flex;
  flex-direction: row;

  .dates {
    display: flex;
    flex-direction: column;
  }
  .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-bottom: 1px solid $table-border-color;
    border-right: 1px solid $table-border-color;
  }

  .days {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .day {
    height: 64px;
    border-bottom: 1px solid $table-border-color;
  }
}

.availability-table {
  .column {
    display: flex;
    flex-direction: column;
  }
  .cell {
    border-bottom: 1px solid $table-border-color;
    border-right: 1px solid $table-border-color;
    padding: 0.25 * $spacer 0.5 * $spacer;
  }
  .column-heading {
    font-weight: bold;
  }
}

.member-availability-form {
  table { border-bottom: 1px solid $table-border-color; }
  thead th { text-align: center; }
  label { display: block; margin: 0; text-align: center; }
  td { vertical-align: middle; }
}

.QualificationsDropdownMenu .form-check {
  justify-content: left;
}

.team-badge-delta { background: #81d4fa; }
.team-badge-oscar { background: #aa66cc; color: #fff; }
.team-badge-romeo { background: #00c851; color: #fff; }
.team-badge-sierra { background: #f8bbd0; }
.team-badge-xray { background: #ffcc80; }

.qual-badge abbr { text-decoration: none; }
.qual-badge-cs { background: #00C851; color: #fff; }
.qual-badge-cs2 { background: #008d3e; color: #fff; }
.qual-badge-l1 { background: #bbdefb; }
.qual-badge-l2 { background: #2196f3; }
.qual-badge-l3 { background: #0d47a1; color: #fff; }
.qual-badge-ls { background: #8d6e63; color: #fff; }
.qual-badge-swd { background: #ef6c00; color: #fff; }
.qual-badge-vr { background: #c62828; color: #fff; }
.qual-badge-ic { background: #fff; border: 1px solid #bbb; }
.qual-badge-imt { background: #00695c; color: #fff; }
.qual-badge-🔑 { background: #eee; }
